<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".get_help_on" %>
  <%= link_to t(".rails_tutorial"), "http://www.railstutorial.org/help" %>
  <%= t ".to_get_help" %>
  <%= link_to t(".ruby_on_rails"), "http://www.railstutorial.org/book" %>
</p>
